		@import "compass/css3";
		$yellow: rgb(250,211,0); /*#fad300*/ 
		$darkgray: rgb(55,51,48); /*#373330*/
		$lightgray: rgb(198,197,199); /*#c6c5c7*/
		$darkred: rgb(171,9,12);/*#ab090c*/
		$lightred: rgb(203,30,12);/*#cb1e0c*/
		$darkblue: rgb(0,52,121);/*#003479*/
		$toolbarbg:#181a26;
		$default-text-shadow-color: rgba(red, 0.6);
		$default-text-shadow-blur: 3px;
		$default-text-shadow-v-offset: 1px;
		.clearboth {
			clear:both;
			width:0px;
			height:0px;
			line-height:0px;
			border:none;
			margin:0px;
			padding:0px;
			font-size:0px;  
			content:'';
		}
		.xsysys_style {
			font-family:century gothic;
		}
		html {
			@include box-sizing(border-box);  
			background-color: #333333;  
			border: 0 none;
			color:$darkgray;
			display: block;
			font-size: 62.5%;
			font-family:arial;
			height: auto;
			outline: 0 none;
			margin:0 auto;
			padding:0px;
			position: relative;
			vertical-align: baseline;
			width: 100%;
				body {
					@include box-sizing(border-box);
					background-color:white; 
					overflow-y:auto;
					margin:0px;
					height:inherit;
					width:inherit; 
						#main, .main {
							@include box-sizing(border-box);
							width:100%;
							height:100%;
							margin:0px auto;
							padding:0px;
							font-size:12px;
							position:relative; 
								header{
									@include box-sizing(border-box);
									width:100%;
									height:50px;
									line-height:50px;
									margin:0px;
									padding:0px;
										h1{
											@include box-sizing(border-box);
											text-align:center;
											margin:0px;
											padding:0px;
											height:50px;
											line-height:50px;
										}
								}
								nav {
									@include box-sizing(border-box);
									background:$yellow;
									@include background-image(linear-gradient(180deg, $yellow, $darkred, $darkgray)); 
									/*@include background-image(linear-gradient(180deg, rgb(250,211,0), rgb(55,51,48), rgb(198,197,199)));*/
									/*background: -webkit-linear-gradient(180deg, #ab090c, #ce3368); 
									background: -o-linear-gradient(180deg, #ab090c, #ce3368); 
									background: -moz-linear-gradient(180deg, #ab090c, #ce3368);
									background: linear-gradient(180deg, #ab090c, #ce3368); */
									border-bottom:2px solid $darkgray;
									margin:0px;
									padding:0px;
									width:100%;
									height:auto;
										.block-menu {
											@include box-sizing(border-box);
											display: block;
											background: #000;
											margin:0px;
												li {
													@include box-sizing(border-box);
													display: inline-block;
														a {
															@include box-sizing(border-box);
															color: #fff;
															display: block;
															text-decoration: none;
															font-family: 'Passion One', Arial, sans-serif;
															font-smoothing: antialiased;
															text-transform: uppercase;
															overflow: visible;
															line-height: 20px;
															font-size: 24px;
															padding: 5px 10px;
														}
														.three-d {
															@include box-sizing(border-box);
															perspective: 200px;
															transition: all .07s linear;
															position: relative;
															cursor: pointer;
																.three-d-box {
																	@include box-sizing(border-box);
																	transition: all .3s ease-out;
																	transform: translatez(-15px);
																	transform-style: preserve-3d;
																	pointer-events: none;
																	position: absolute;
																	top: 0;
																	left: 0;
																	display: block;
																	width: 100%;
																	height: 100%;
																		.front {
																			@include box-sizing(border-box);
																			transform: rotatex(0deg) translatez(15px);
																		}
																		.back {
																			@include box-sizing(border-box);
																			transform: rotatex(-90deg) translatez(15px);
																			color: #ffe7c4;
																		}
																		.front, .back {
																			display: block;
																			width: 100%;
																			height: 100%;
																			position: absolute;
																			top: 0;
																			left: 0;
																			background: black;
																			padding: 5px 10px;
																			color: white;
																			pointer-events: none;
																			box-sizing: border-box;
																		}
																}
														}
														.three-d:hover .three-d-box, 
														.three-d:focus .three-d-box {
															transform: translateZ(-25px) rotateX(90deg);
														}
														
												}
										}
								}
								article, aside{
									@include box-sizing(border-box);
									max-height:680px;
									margin:0px;
									padding:0px;
									overflow-y:hidden;
									overflow-x:hidden;
								}
								article{
									width:75%;
									float:left;
										section {
											@include box-sizing(border-box);
											margin:0px;
											padding:0px 30px;
											text-align:justify;
											height:680px;
											overflow-y:scroll;
											overflow-x:hidden;
											width:calc(100% + 20px);
										}
								}
								aside {
									width:25%;
									margin-left:75%;
									border-left:1px solid black;
										section {
											@include box-sizing(border-box);
											margin:0px;
											padding:0px 30px;
											text-align:justify;
											height:680px;
											overflow-y:scroll;
											overflow-x:hidden;
											width:calc(100% + 20px);
										}
								}
								footer {
									@include box-sizing(border-box);
									@include background-image(linear-gradient(180deg, #333333, $darkgray, #1d1d1d)); 
									/*@include background-image(linear-gradient(180deg, #555555, #777777, #1d1d1d));*/
									/*@include background-image(linear-gradient(#696c72, #333334));*/
									/*background: -webkit-linear-gradient(180deg, #555555, #1d1d1d);
									background: -o-linear-gradient(180deg, #555555, #1d1d1d); 
									background: -moz-linear-gradient(180deg, #555555, #1d1d1d);
									background: linear-gradient(180deg, #334456, #1d1d1d); */
									margin:0px;
									padding:0px;
									width:100%;
									height:auto;
									text-align:center; 
									position:fixed;
									bottom:0px;
									color:white;
										.links, .copyrights {
											@include box-sizing(border-box);
											margin:0px;
											padding:0px;
											height:30px;
											line-height:30px;
										}
										.links{
											width:70%;
											float:left;
												ul {
													@include box-sizing(border-box);
													list-style-type:none;
													margin:0px;
													padding:0px;
													float:left;
														li {
															@include box-sizing(border-box);
															display:inline-block;
															margin:0px;
															padding:0px;
																a {
																	@include box-sizing(border-box);
																	text-decoration:none;
																	display:inline-block;
																	width:100px;
																	height:30px;
																	line-height:30px;
																	color:#f3f3f3;
																	text-align:center;
																	font-size:12px;
																	cursor:pointer;
																		a:hover, a:focus{
																			color:#ffffff;
																			text-shadow:0px 0px 1px #ffffff;
																		}
																}
														}
												}
										}
										.copyrights {
											width:30%;
											margin-left:70%;
												span {
													color:#ffffff;
													font-size:12px;
														.xsysys-style{
															font-size:15px;
														}
												}
										}
								}
						}
				}
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		